body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

.login{
    width: 500px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px black;
    background-color: white;
}

.admin{
    text-align: center;
}

.login form{
    text-align: center;
}

.login input{
    width: 300px;
    height: 25px;
}

.login button {
    width: 280px;
    padding: 8px;
    background: gold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 2s;
}

.login button:hover {
    transform: scale(1.05);
}
