
header{
    color: rgb(255, 255, 255);
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    background-color: rgb(16, 16, 123);
    
}


#menu-toggle{
    display: none;
}

.hamburger{
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}


.logo{
    display: flex;
}

.logo img{
    width: 70px;
    height: 80px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav a{
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    color: #f4f4f9;
    padding: 20px;
    text-decoration: none;
    transition: 0.2s ease, color
    0.2s ease;
    font-weight: bold;
}

nav a.logout{
    color: red;
}

nav a.logout:hover{
    color: red;
    transform: none;
}

nav ul :hover{
    transform: scale(1.05);
    color: gold;
}

/*header End*/

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(16, 16, 123);
}

.container h2 {
    margin-bottom: 20px;
    color: white;
}

.nomor {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    border-radius: 100%;
}

.nomor::-webkit-outer-spin-button,
.nomor::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tambah, .kurang {
    background: none;      
    border: none;         
    padding: 0;           
    cursor: pointer;      
    font-size: 25px;       
    color: white;  
}




.simpan{
    padding: 8px 20px;
    background-color: gold;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.simpan:hover {
    transform: scale(1.05);
}

.error {
    color: red;
    margin-bottom: 10px;
}

.kembali {
    margin-top: 10px;
}

.kembali a {
    text-decoration: none;
    color: #3498db;
}

.kembali a:hover {
    transform: scale(1.05);
}
